<h3 class="float-left">Hoteles</h3>
<button class="btn btn-warning float-right mb-3" data-toggle="modal" data-target="#modalHotel">Nuevo Hotel</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Estrellas</th>
            <th scope="col">Dirección</th>
            <th scope="col">Estado</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Latitud</th>
            <th scope="col">Longitud</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hotel of hotels">
            <td style="max-width: 150px;">{{hotel.name}}</td>
            <td>{{hotel.stars}}</td>
            <td style="max-width: 150px;">{{hotel.address}}</td>
            <td>{{hotel.state}}</td>
            <td>{{hotel.city}}</td>
            <td>{{hotel.latitude}}</td>
            <td>{{hotel.longitude}}</td>
            <td>
                <button class="btn btn-secondary" (click)="onClick(hotel.imgSRC)"><span class="fa fa-upload"></span></button>
                <form name="formIMG" #formIMG="ngForm" (ngSubmit)="saveIMG(formIMG, hotel.imgSRC, hotel.id)">
                    <input type="hidden" name="imgSRC" value="{{ hotel.imgSRC }}" [(ngModel)]="this.dataApi.selectedHotel.imgSRC">
                    <input type="hidden" name="id" value="{{ hotel.id }}" [(ngModel)]="this.dataApi.selectedHotel.id">
                    <input type="file" #btnFile accept=".png, .jpg" class="inputFile" (change)="onUpload($event, hotel)">
                    <button type="submit" #btnSubmit class="inputFile"></button>
                </form>
            </td>
            <td>
                <button class="btn btn-warning" (click)="onPreUpdateHotel(hotel)" data-toggle="modal" data-target="#modalHotel">Modificar</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="onDeleteHotel(hotel.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
<app-hotel-modal></app-hotel-modal>