<div class="contacto">
    <div class="info">
        <h1>Contacto</h1>
        <hr class="line">
        <div class="row">
            <div class="col">
                <div class="info-cont">
                    <img src="../assets/andres.jpg" alt="">
                    <div class="staff">Andres Linarez</div>
                    <h4>Universidad Metropolitana</h4>
                    <h4>Ingeniería en Sistemas</h4>
                    <h5>Estudiante</h5>
                    
                    <div class="contact-columna contact-redes">
                        <h6>Follow me on <a href="https://www.instagram.com/andresdlm/"><span class="fa fa-instagram"></span></a></h6>
                        <h6>Follow me on <a href="https://www.github.com/andresdlm/"><span class="fa fa-github"></span></a></h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="info-cont">
                    <img src="../assets/paola.jpg" alt="">
                    <div class="staff">Paola Rodríguez</div>
                    <h4>Universidad Metropolitana</h4>
                    <h4>Ingeniería en Sistemas</h4>
                    <h5>Estudiante</h5>
                    
                    <div class="contact-columna contact-redes">
                        <h6>Follow me on <a href="https://www.instagram.com/paoerodriguez/"><span class="fa fa-instagram"></span></a></h6>
                        <h6>Follow me on <a href="https://www.github.com/paoerodriguez/"><span class="fa fa-github"></span></a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>            
</div>