body, html {
    height: 100%;
    margin: 0;
    font-family:'Montserrat', sans-serif;
}

.contacto {
    padding: 40px 0;
    background: white;
    color: #434343;
    text-align: center;
}

.info {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border {
    width: 160px;
    height: 5px;
    background: #ffce00;
    margin: 26px auto;
    border: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.info-cont {
    background: #fff;
    padding: 30px;
}

.info-cont img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.staff {
    font-size: 30px;
    text-transform: uppercase;
    margin: 20px 0;
}

.contact-columna .contact-redes {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor:pointer;
}

@media screen and (max-width:960px) {
.col{
    flex: 100%;
    max-width: 80%;
}
}

@media screen and (max-width:600px) {
    .col{
        flex: 100%;
        max-width: 100%;
    }
}