.sidebar {
    width: 200px;
    left: 0;
    top: 0;
    right: auto;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    padding-bottom: 15px;
}

a {
    color: black;
}

li {
    width: 200;
    padding-top: 10px;
    padding-bottom: 10px;
}
