<!--msb: main sidebar-->
<div class="sidebar">
    <nav role="navigation">
            <!-- Main Menu -->
        <div class="sidebar-items">
            <ul class="items">
                <li><a routerLink="admin" class="item">Dashboard</a></li>
                <li><a routerLink="destinos" class="item">Destinos Turisticos</a></li>
                <li><a routerLink="admin/hoteles" class="item">Hoteles</a></li>
                <li><a routerLink="admin/habitaciones" class="item">Habitaciones</a></li>
                <li><a routerLink="admin/ordenes" class="item">Ordenes</a></li>
                <li><a routerLink="admin/estados" class="item">Estados</a></li>
                <li><a routerLink="admin/ciudades" class="item">Ciudades</a></li>
            </ul>
        </div>
    </nav>
</div>