<footer class="footer-area footer--light">
<div class="footer-big">
    <div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
        <div class="footer-widget">
            <div class="footer-menu footer-menu--1">
            <h4 class="footer-widget-title">Nuestro Sitio</h4>
            <ul>
                <li>
                <a href="#">Destinos Turísticos</a>
                </li>
                <li>
                <a href="#">Hoteles</a>
                </li>
                <li>
                <a href="#">Reservaciones</a>
                </li>
                <li>
                <a href="#">Itinerario</a>
                </li>
            </ul>
            </div>
        </div>
        </div>

        <div class="col-md-3 col-sm-4">
        <div class="footer-widget">
            <div class="footer-menu">
            <h4 class="footer-widget-title">Nostros</h4>
            <ul>
                <li>
                <a href="#">Acerca de Nosotros</a>
                </li>
                <li>
                <a href="#">Contacto</a>
                </li>
                <li>
                <a href="#">Trabaja con Nosotros</a>
                </li>
            </ul>
            </div>
        </div>
        </div>

        <div class="col-md-3 col-sm-4">
        <div class="footer-widget">
            <div class="footer-menu no-padding">
            <h4 class="footer-widget-title">Síguenos</h4>
            <ul>
                <li>
                <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
                </li>
                <li>
                <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
                </li>
                <li>
                <a href="#"><i class="fab fa-facebook"></i>Facebook</a>
                </li>
            </ul>
            </div>
        </div>
        </div>

    </div>
    </div>
</div>

<div class="mini-footer">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="copyright-text">
            <p>© 2019
            <a href="#">Tours</a>. All rights reserved. Created by
            <a href="#">GuacamayaTravel</a>
            </p>
        </div>
        </div>
    </div>
    </div>
</div>
</footer>