<footer>
    <div class="footer-container">
        <div class="footer-main">
            <div class="footer-columna">
                <h3>Nuestro Sitio</h3>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/destinos">Destinos Turisticos</a></li>
                    <li><a routerLink="/hoteles">Hoteles</a></li>
                    <li><a routerLink="/planea-tu-viaje">Planea tu viaje</a></li>
                    <li><a routerLink="/itinerario">Itinerario</a></li>
                </ul>
            </div>
            <div class="footer-columna">
                <h3>Dirección</h3>
                <span class="fa fa-map-marker"><p>Ditribuidor metropolitano, Caracas</p></span>
                <span class="fa fa-phone"><p>(+58) 414-174-5928</p></span>
                <span class="fa fa-envelope"><p>info@guacamayatravel.com</p></span>
            </div>
            <div class="footer-columna">
                <h3>Sobre Nosotros</h3>
                <ul>
                    <li><a routerLink="/contacto">Contacto</a></li>
                </ul>
                <h3>Redes Sociales</h3>
                <div class="footer-redes">
                    <span class="fa fa-facebook"></span>
                    <span class="fa fa-twitter"></span>
                    <span class="fa fa-instagram"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="main-copy">
            <div class="footer-copy-2">
                <p>© 2019, Todos los derechos reservados - | Guacamaya Travel |.</p>
            </div>
        </div>
    </div>
</footer>