.card {
    margin: 0 auto;
    max-width: 75%;
}

.p-direccion {
    margin-bottom: 1px;
}

.card-title {
    margin-bottom: 0px;
}

.card-img {
    height: card;
}


agm-map {
    height: 200px;
}

.google-map {
    width: fit-content;
    max-height: 180px;
}