.form-group {
  text-align: center;
  display: inline-block;
  margin-left: 3px;
  margin-right: 10px;
  margin-bottom: 8px;
}

.search-drop {
  background-color: #e1e1e1;
  opacity: 70%;
  border-style: none;
  border-radius: 25px;
  width: 200px;
  height: 35px;
  text-align: left;
}

.search-btn {
  background-color: #ffce00;
  border-style: none;
  opacity: 75%;
  width: 50px;
  height: 35px;
  border-radius: 35px;
}

.filters {
  font-size: 15px;
  text-align: left;
  float: left;
  margin-top: 85px;
  margin-left: 15px;
}

.btn {
  display: inline-block;
  text-align: center;
  background-color: #FFCE00;
  border: 1px solid transparent;
  border-radius: 20px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-right: 5px;
  cursor:pointer;

  .btn-secondary {
    color: #fff;
    background-color: #FFCE00;
    border-color: #ffce;
    }
}

.card-deck {
  width: 30%;
  text-align: center;
}

.card {
  border-radius: 15px;
  width: 18rem;
  margin: 10px;
  float: left;
  text-align: center;
}

.column {
  float: left;
  width: 25.25%;
  min-width: 250px;
  max-width: 400px;
  margin: 0 auto 20px auto;

}

.row {
  margin: 0 -5px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-height: 250px;
}

.card-text {
  text-align: justify;
}

.card .column {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

