<h3 class="float-left" style="margin-right: 132px;">Destinos</h3>
<button class="btn btn-warning float-right mb-3" data-toggle="modal" data-target="#modalDestination">Nuevo Destino</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Dirección</th>
            <th scope="col">Estado</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Latitud</th>
            <th scope="col">Longitud</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let destination of destinations">
            <td style="max-width: 130px;">{{ destination.name }}</td>
            <td>{{ destination.category }}</td>
            <td style="max-width: 100px;">{{ destination.address }}</td>
            <td>{{ destination.state }}</td>
            <td style="max-width: 100px;">{{ destination.city }}</td>
            <td>{{ destination.latitude }}</td>
            <td>{{ destination.longitude }}</td>
            <td>
                <button class="btn btn-secondary" (click)="onClick(destination.imgSRC, destination.id)"><span class="fa fa-upload"></span></button>
                <form name="formIMG" #formIMG="ngForm" (ngSubmit)="saveIMG(formIMG, destination.imgSRC)">
                    <input type="hidden" name="imgSRC" value="{{ destination.imgSRC }}" [(ngModel)]="this.dataApi.selectedDestination.imgSRC">
                    <input type="hidden" name="id" value="{{ destination.id }}" [(ngModel)]="this.dataApi.selectedDestination.id">
                    <input type="file" #btnFile accept=".png, .jpg" class="inputFile" (change)="onUpload($event, destination)">
                    <button type="submit" #btnSubmit class="inputFile"></button>
                </form>
            </td>
            <td>
                <button class="btn btn-warning" (click)="onPreUpdateDestination(destination)" data-toggle="modal" data-target="#modalDestination">Modificar</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="onDeleteDestination(destination.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
<app-destination-modal></app-destination-modal>