<div class="modal fade" id="modalDestination" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{ !this.dataApi.selectedDestination.id ? 'Nuevo Destino' : 'Modificar Destino'}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearForm(formDestination)">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="formDestination" #formDestination="ngForm" (ngSubmit)="onSaveDestination(formDestination)">
                    <input type="hidden" name="id" [(ngModel)]="this.dataApi.selectedDestination.id">
                    <input type="hidden" name="userUid" [value]="userUid">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="this.dataApi.selectedDestination.name">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="category">Categoria:</label>
                            <select name="category" class="form-control" [(ngModel)]="this.dataApi.selectedDestination.category">
                                <option *ngFor="let category of categories" value="{{ category.name }}">{{ category.name }}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="precio">Dirección:</label>
                            <input type="text" name="address" class="form-control" [(ngModel)]="this.dataApi.selectedDestination.address">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="state">Estado:</label>
                            <select name="state" class="form-control" [(ngModel)]="this.dataApi.selectedDestination.state">
                                <option *ngFor="let state of states" value="{{ state.name }}">{{ state.name }}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="city">Ciudad:</label>
                            <select name="city" class="form-control" [(ngModel)]="this.dataApi.selectedDestination.city">
                                <option *ngFor="let city of cities" value="{{ city.name }}">{{ city.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="latitude">Latitud:</label>
                            <input type="text" name="latitude" class="form-control" [(ngModel)]="this.dataApi.selectedDestination.latitude">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="longitude">Longitud:</label>
                            <input type="text" name="longitude" class="form-control" [(ngModel)]="this.dataApi.selectedDestination.longitude">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-form-label">Descripción:</label>
                        <textarea class="form-control" name="description" [(ngModel)]="this.dataApi.selectedDestination.description"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" #btnClose data-dismiss="modal" (click)="clearForm(formDestination)">Cerrar</button>
                        <button type="submit" class="btn btn-warning">{{ !this.dataApi.selectedDestination.id ? 'Crear' : 'Actualizar'}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>