<h3 class="float-left" style="margin-right: 161px;">Ciudades</h3>
<button class="btn btn-warning float-right mb-3" data-toggle="modal" data-target="#modalCity">Nueva Ciudad</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let city of cities">
            <td>{{ city.name }}</td>
            <td>{{ city.state }}</td>
            <td>
                <button class="btn btn-warning" (click)="onPreUpdateCity(city)"  data-toggle="modal" data-target="#modalCity">Modificar</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="onDeleteCity(city.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
<app-city-modal></app-city-modal>