<h3 class="float-left">Habitaciones</h3>
<button class="btn btn-warning float-right mb-3" data-toggle="modal" data-target="#modalRoom">Nueva Habitacion</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Hotel</th>
            <th scope="col">Nombre</th>
            <th scope="col">Capacidad</th>
            <th scope="col">Descripción</th>
            <th scope="col">Comodidades</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let room of rooms">
            <td>{{ room.hotel }}</td>
            <td>{{ room.name }}</td>
            <td>{{ room.capacity }}</td>
            <td style="max-width: 150px;">{{ room.description }}</td>
            <td>{{ room.comodities }}</td>
            <td>{{ room.price }}</td>
            <td>
                <button class="btn btn-warning" (click)="onPreUpdateRoom(room)" data-toggle="modal" data-target="#modalRoom">Modificar</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="onDeleteRoom(room.id)">Eliminar</button>
            </td>
            <td>
                <button class="btn btn-secondary"><span class="fa fa-upload"></span></button>
            </td>
        </tr>
    </tbody>
</table>
<app-room-modal></app-room-modal>