<h3 class="float-left">Estados</h3>
<button class="btn btn-primary float-right mb-3">Nuevo Estado</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let state of states">
            <td>{{ state.name }}</td>
            <td>
                <button class="btn btn-primary">Modificar</button>
            </td>
            <td>
                <button class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
