<h3 class="float-left" style="margin-right: 132px;">Estados</h3>
<button class="btn btn-warning float-right mb-3" data-toggle="modal" data-target="#modalState">Nuevo Estado</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let state of states">
            <td>{{ state.name }}</td>
            <td>
                <button class="btn btn-warning" (click)="onPreUpdateState(state)"  data-toggle="modal" data-target="#modalState">Modificar</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="onDeleteState(state.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
<app-state-modal></app-state-modal>