<div class="hero-image">
    <div class="title">
        <h1>ELIGE TU PRÓXIMO DESTINO</h1>
        <hr class="line"/>
    </div>
    <div class="hero-text">
        <form #formSearch="ngForm" (ngSubmit)="searchDestination(formSearch)">
            <div class="form-group">
                <select #categoryInput name="category" class="form-control select-category">
                    <option disabled selected>Categoría</option>
                    <option *ngFor="let category of categories" value="{{ category.name }}">{{ category.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <p style="margin-bottom: 0px;">ó</p>
            </div>
            <div class="form-group">
                <select #statesInput name="state" class="form-control select-category" >
                    <option disabled selected>Estado</option>
                    <option *ngFor="let state of states" value="{{ state.name }}">{{ state.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="search-btn form-group"><span class="fa fa-search"></span></button>
            </div>
        </form>
    </div>
</div>
<h1 class="title-search">RESULTADOS DE TU BUSQUEDA</h1>
<hr class="line"/>
<div class="row">
    <div *ngFor="let destination of destinations" class="card column">
        <img src="{{ destination.imgSRC }}" class="card-img-top" alt="Imagen">
        <div class="card-body">
            <h5 class="card-title">{{ destination.name }}</h5>
            <p class="card-text">{{ destination.description }}</p>
            <a routerLink="/destino/{{destination.id}}" class="btn btn-warning">Ver destino</a>
        </div>
    </div>
</div>