.line {
    border: 2px solid #ffce00;
    width: 15%;
}

.title {
    text-align: center;
    position: relative;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}